// variables
$font-family-main: 'Raleway', sans-serif;
$font-family-splash: 'Fredoka One', cursive;

$background-gradient: linear-gradient(#17B9E8, #034978);
$font-gradient: linear-gradient(#FFFFA2, #F1C94E);

$bubble-colour-main: rgba(200, 255, 255, .3);
$bubble-colour-secondary: rgba(200, 255, 255, .6);
$bubble-colour-background: rgba(0,0,0,.05);

// mix-ins
@mixin card-flex($size) {
  flex: $size;
  max-width: $size;
}

// placholders
%bubble-effect {
  content: "";
  display: block;
  position: absolute;
  top: 7.5%;
  left: 7.5%;
}

%gradient-background {
  position: fixed;
  top: 0px;
  z-index: -1;
  height: 100vh;
  background-image: $background-gradient;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// css
html {
  box-sizing: border-box;
  font-size: 18px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-main;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.background-bubble, #loading-bubble {
  position: fixed;
  background: $bubble-colour-main;
  border-radius: 50%;
  box-shadow:inset 10px 10px 50px $bubble-colour-secondary;
  z-index: -1;
}

/* Bubble Effect
   https://codepen.io/yunntan/pen/qsvCo */
.background-bubble::before, #loading-bubble::before {
  @extend %bubble-effect;
  width: 50%;
  height: 50%;
  border-radius: 75% 25%;
  box-shadow: inset 10px 10px 50px $bubble-colour-secondary;
}

.background-bubble::after, #loading-bubble::after {
  @extend %bubble-effect;
  width: 85%;
  height: 85%;
  border-radius: 100%;
  box-shadow: inset 0px -10px 10px $bubble-colour-background;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#about-me {
  // text-align: right;
}

.project-card {
  text-align: center;
  @include card-flex(32%);
  margin: 1em 0.5%;
  background: #FFF;
  border: 10px solid black;
  position: relative;
  overflow: hidden;
}

.card-overlay {
  @extend %overlay;
  background: rgba(255, 255, 255, 0.5);
}

.project-image {
  width: 100%;
  outline: 1px solid #000;
}

.feature-title, .feature-description {
  padding: 0.5em 1em;
}

.feature-description {
  font-size: 16px;
}

.project-card:hover, .close-button:hover {
  cursor: pointer;
}

.project-modal {
  width: 50%;
  animation: appear 0.5s 1 forwards;
}

#background-canvas {
 @extend %overlay;
  z-index: -1;
}

#modal-title {
  margin-bottom: 0;
}

#loading {
  margin: 10% auto 0 auto;
  text-align: center;
}

#loading-bubble {
  animation: moveAccross 5s infinite;
}

#loading-animation {
  width: 100%;
  height: 50px;
  overflow: hidden;
}

// Gradient text reference: https://css-tricks.com/snippets/css/gradient-text/
.loading-letters {
  font-family: $font-family-splash;
  display: inline-block;
  font-size: 68px;
  background: $font-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // -webkit-text-stroke: 3px #000;
}

.link-icon {
  max-width: 35px;
  margin: 0.5em;
}

#header {
  background: #000;
  padding: 0.5em 0;
}

#logo-container {
  flex: 7%;
  margin-left: 3%;
  max-width: 75px;
}

#logo-container img {
  width: 100%;
}

#logo:hover {
  cursor: pointer;
}

#main-nav {
  flex: 90%;
  margin: auto 0 0 0;
  text-align: right;
}

#main-nav ul {
  margin: 0;
}

#main-nav li {
  display: inline-block;
  margin-right: 2em;
}

#main-nav a {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
}

#main-nav a:hover {
  color: yellow;
}

#page-background {
  @extend %gradient-background;
}

#site-name, #subheading {
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  -webkit-text-stroke: 3px white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-40%) translateX(-50%);
  white-space: nowrap;
  font-family: $font-family-splash;
}

#subheading {
  font-size: 30px;
  -webkit-text-stroke: 1px white;
  top: 50%;
}

@keyframes lift {
  100% {
    transform: translateY(-100vh) rotate(360deg);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes expand {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes moveAccross {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  100% {
    transform: translateX(300px) rotate(480deg);
  }
}

@media all and (max-width:900px) {
  .project-card {
    @include card-flex(49%);
  }

  .project-modal {
    width: 75%;
  }
}

@media all and (max-width:768px) {
  #site-name {
    -webkit-text-stroke: 2px white;
    font-size: 55px;
  }

  #subheading {
    -webkit-text-stroke: 0.5px white;
    font-size: 25px;
  }

  .project-modal {
    width: 100%;
  }
}

@media all and (max-width:480px) {
  #site-name {
    -webkit-text-stroke: 1px white;
    font-size: 45px;
  }

  #subheading {
    font-size: 18px;
    top: 45%;
  }

  .project-card {
    @include card-flex(99%);
  }
}

@media all and (max-width:368px) {
  #site-name {
    font-size: 30px;
  }

  #subheading {
    font-size: 16px;
  }
}